

## Lab 2

Welcome to the second lab of the AIML!
In addition to implementing code, there will be questions that you must answer which relate to the lab and your implementation. Each question you will answer is preceded by a **'Question X'** header. Carefully read each question and provide you answer or code in the following textboxes with **'Answer:'** header. Your lab submission will be evaluated based on your answers to each of the questions and the implementation you provide.

# Every question is of 1 mark.

## Hypothesis Testing

The purpose of the test is to tell if there is any significant difference between two data sets.

## Overview

This module covers,

1) One sample and Two sample t-tests

2) ANOVA

3) Type I and Type II errors

4) Chi-Squared Tests

5) Linear Regression

## Question 1 

*A student is trying to decide between two GPUs. He want to use the GPU for his research to run Deep learning algorithms, so the only thing he is concerned with is speed.*

*He picks a Deep Learning algorithm and a large data set and runs it on both GPUs 15 times, timing each run in hours. Results are given in the below lists GPU1 and GPU2.*

In [4]:
import pandas as pd
GPU1 = pd.DataFrame([11,9,10,11,10,12,9,11,12,9,11,12,9,10,9])
GPU2 = pd.DataFrame([11,13,10,13,12,9,11,12,12,11,12,12,10,11,13])

#Assumption: Both the datasets (GPU1 & GPU 2) are random, independent, parametric & normally distributed

Hint: You can import ttest function from scipy to perform t tests

Given,

Null Hypothesis : There is no significant difference between data sets

Alternate Hypothesis : There is a significant difference

*Do two-sample testing and check whether to reject Null Hypothesis or not.*

#### Answer:

In [6]:
import numpy as np
from scipy.stats import ttest_1samp, ttest_ind, mannwhitneyu, levene, shapiro
from statsmodels.stats.power import ttest_power

t_statistic, p_value = ttest_ind(GPU1, GPU2)
print(t_statistic, p_value)

[-2.62762951] [0.01379428]

In [ ]:
#The p_value for the data is 0.01379428, which is less than 0.05. 
#Then the null hypothesis : there is no significant differnece between dataset is not accepted

## Question 2 

He is trying a third GPU - GPU3.

In [7]:
GPU3 = pd.DataFrame([9,10,9,11,10,13,12,9,12,12,13,12,13,10,11])

#Assumption: Both the datasets (GPU1 & GPU 3) are random, independent, parametric & normally distributed

*Do two-sample testing and check whether there is significant differene between speeds of two GPUs GPU1 and GPU3.*

#### Answer:

In [8]:
t_statistic1, p_value1 = ttest_ind(GPU1, GPU3)
print(t_statistic1, p_value1)

[-1.49889438] [0.14509211]

In [ ]:
#Given the p_value1 of the datasets is 0.14509211. Null Hypothesis : There is no significant difference between data sets is 
#accepted

### ANOVA

## Question 3 

If you need to compare more than two data sets at a time, an ANOVA is your best bet. 

*The results from three experiments with overlapping 95% confidence intervals are given below, and we want to confirm that the results for all three experiments are not significantly different.*

#Assumption: All the 3 datasets (e1,e2 & e3) are random, independent, parametric & normally distributed
But before conducting ANOVA, test equality of variances (using Levene's test) is satisfied or not. If not, then mention that we cannot depend on the result of ANOVA

In [9]:
import pandas as pd
import numpy as np

e1 = pd.DataFrame([1.595440,1.419730,0.000000,0.000000])
e2 = pd.DataFrame([1.433800,2.079700,0.892139,2.384740])
e3 = pd.DataFrame([0.036930,0.938018,0.995956,1.006970])

#### Answer:

In [10]:
from scipy.stats import levene, shapiro, f_oneway
from statsmodels.stats.multicomp import pairwise_tukeyhsd, MultiComparison
import matplotlib.pyplot as plt
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm

#levene's test

levene(e1,e2,e3)

LeveneResult(statistic=array([2.67417257]), pvalue=array([0.12259793]))

In [14]:
# p-value > 0.05 hence all variances are equal
#Since given p value is  greater than 0.05, the tes of equality variance of the data is satisfied and result of anova can be used

f, p = f_oneway(e1,e2,e3)
print ('One-way ANOVA')
print ('=============')
 
print ('F value:', f)
print ('P value:', p, '\n')

# if p-value<0.05 , we say that atleast one of the means is significantly different

One-way ANOVA
=============
F value: [2.51357623]
P value: [0.13574645]

In [15]:
## Given that p value is greater than 0.05, it can be concluded that all three experiments are not significantly different

## Question 4 

*In one or two sentences explain about **TypeI** and **TypeII** errors.*

#### Answer:

In [ ]:
#Type I errors happen when we reject a true null hypothesis.Type II errors happen when we fail to reject a false null hypothesis.

## Question 5 

Explain how the higher confidence value effects TypeI and TypeII error.

#### Answer:

In [16]:
#In choosing a level of confidence for a test, you are actually deciding how much you want to risk committing a 
#Type I errorâ€”rejecting the null hypothesis when it is, in fact, true.  If the alternative hypothesis is actually true, but you 
#fail to reject the null hypothesis for all values of the test statistic falling to the left of the critical value, then the
#area of the curve of the alternative (true) hypothesis lying to the left of the critical value represents the
#percentage of times that you will have made a Type II error. Therefore the higher confidence levels means we have more chance 
#committing type 1 error and lower levels of commiting type 2 errors.

## Question 6 

*A computer expert wants to test the null hypothesis that a new GPU is no more effective than the older model.*

Lets consider that he selects the GPU which he think is more effective.

Now, find out which GPU he has selected if he made Type I error. And give reasoning about which is more effective.

**Answer:**

In [17]:
#The null hyposthesis is both GPU's effectiveness are equal
#He has selected new GPU and performed tests for effectiveness but found out that it is not as effective as the old one.
#Infact both the GPU effectiveness are equal as Type I error is rejecting the null hypothesis when it is true. So we can conclude
#both the GPUs perform equally and new GPU is misclassified.

## Question 7 

From question6, if he made Type II error.

*Now, find out which GPU he has selected. And give reasoning about which is more effective.*

#### Answer:

In [ ]:
#The null hyposthesis is both GPU's effectiveness are equal.
#Type II error is null hypothesis getting accepted when infact it should not have been. Accepting something which is not
# for what it is how we interpet  this error. we can say old GPU was tested and wrongly characterised as equal to new GPU when 
# it is not.

# Linear Regression

# Simple Linear Regression

## Dataset

Population of U.S. Cities

### Description
The bigcity data frame has 49 rows and 2 columns.

The measurements are the population (in 1000's) of 49 U.S. cities in 1920 and 1930. The 49 cities are a random sample taken from the 196 largest cities in 1920.

### Format
This data frame contains the following columns:

`u`
The 1920 population.

`x`
The 1930 population.

Source

The data were obtained from

Cochran, W.G. (1977) Sampling Techniques. Third edition. John Wiley

References

Davison, A.C. and Hinkley, D.V. (1997) Bootstrap Methods and Their Application. Cambridge University Press.

# Question 8 
Read the dataset given in file named 'bigcity.csv'.

In [22]:
dt=pd.read_csv('bigcity.csv')
dt

    Unnamed: 0    u    x
0            1  138  143
1            2   93  104
2            3   61   69
3            4  179  260
4            5   48   75
5            6   37   63
6            7   29   50
7            8   23   48
8            9   30  111
9           10    2   50
10          11   38   52
11          12   46   53
12          13   71   79
13          14   25   57
14          15  298  317
15          16   74   93
16          17   50   58
17          18   76   80
18          19  381  464
19          20  387  459
20          21   78  106
21          22   60   57
22          23  507  634
23          24   50   64
24          25   77   89
25          26   64   77
26          27   40   60
27          28  136  139
28          29  243  291
29          30  256  288
30          31   94   85
31          32   36   46
32          33   45   53
33          34   67   67
34          35  120  115
35          36  172  183
36          37   66   86
37          38   46   65
38          39  121  113
39          40   44   58
40          41   64   63
41          42   56  142
42          43   40   64
43          44  116  130
44          45   87  105
45          46   43   61
46          47   43   50
47          48  161  232
48          49   36   54

# Question 9 - Transform the dataset 
Find the number of rows in given dataset and separate the input and target variables into X and Y.
Hint: You can shape function to get the size of the dataframe

In [39]:
X = dt.loc[: , "u"]
Y = dt.loc[: , "x"]

## Question 10 - Check the dataset for any missing values and also print out the correlation matrix

You can use .isna() and .corr() functions to check NA's and correlation in the dataframe respectively

In [48]:
X.isna()
Y.isna()
Y.corr(X)

0.981741951099581

In [50]:
dt.corr()

            Unnamed: 0         u         x
Unnamed: 0    1.000000 -0.024788 -0.047890
u            -0.024788  1.000000  0.981742
x            -0.047890  0.981742  1.000000

### The high correlation betwwen u and x indicates that the variable u is a good predictor of variable x

# Question 11 - Split data into train, test sets 
Divide the data into training and test sets with 80-20 split using scikit-learn. Print the shapes of training and test feature sets.*

Check: train_test_split function

In [53]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=1)

# Question 12 - Find coefficients & intercept
Estimate the coefficients b0 and b1 using scikit-learn.

Check: coef_ and intercept_ functions can help you get coefficients & intercept

# Question 13 - Linear Relationship between feature and target 
Plot the line with b1 and b0 as slope and y-intercept.

# Question 14 - Evaluation of model with scikit-learn 
Validate the model with Root Mean Squares error and R^2 score using scikit-learn. RMSE and R2 for test data and prediction

Hint: You can import mean_squared_error function & r2 (R square) from sklearn.metrics. Performing root operation over mean square error over mean square error gives you root mean square error

## Question 15 - Calculate the accuracy of the model for both training and test data set

### Hint: .score() function