In [ ]:
#Project 2- Statistical Learning

In [17]:
#Importing Required Libraries

import numpy as np
from scipy.stats import ttest_1samp, ttest_ind, mannwhitneyu, levene, shapiro
from statsmodels.stats.power import ttest_power
import pandas as pd

In [18]:
#Creating a dataframe

d={'Sales Persons':[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30],
    'Old Scheme(in thousands)':[57,103,59,75,84,73,35,110,44,82,67,64,78,53,41,39,80,87,73,65,28,62,49,84,63,77,67,101,91,50],
    'New Scheme(in thousands)':[62,122,54,82,84,86,32,104,38,107,84,85,99,39,34,58,73,53,66,78,41,71,38,95,81,58,75,94,100,68]
   }
df=pd.DataFrame(d)

In [19]:
# Mean of the dataframe
print("A1)The mean of the data are following:")
df.mean()

A1)The mean of the data are following:

Sales Persons               15.500000
Old Scheme(in thousands)    68.033333
New Scheme(in thousands)    72.033333
dtype: float64

In [29]:
# Seperating the data into 2 groups based on Old scheme and New scheme
group1 = df['Old Scheme(in thousands)']
group2 = df['New Scheme(in thousands)']

In [59]:
# two-sample t-test
# null hypothesis: the two groups have the same mean
# this test assumes the two groups have the same variance...
# (can be checked with tests for equal variance - Levene)

t_statistic, p_value = ttest_1samp(group1 - group2,0)

print( p_value)

0.13057553961337662

In [54]:
# p_value < 0.05 => alternative hypothesis:
# they don't have the same mean at the 5% significance level
print ("A2) two-sample t-test p-value=", p_value)

A2) two-sample t-test p-value= 0.13057553961337662

In [55]:
# two-sample wilcoxon test
# a.k.a Mann Whitney U - Used when samples are not normally distributed
u, p_value = mannwhitneyu(group1, group2)
print ("two-sample wilcoxon-test p-value=", p_value)

two-sample wilcoxon-test p-value= 0.24815395764270332

    A3) it can be infered that there is difference in mean between the two values.

A4a) Probability of type one error is the probability of null hypothesis getting rejected even when it is true. Here the null hypothesis is the average difference of means of old scheme and new scheme is less than or equal to 5000. Type 1 error is rejecting the model when the mean difference is infact less or equal to 5000. we are considering 5% chance of error in this solution.

In [56]:
# We have to study the probability of break even when the new scheme is introdced. the mean differnece should be less than or
#equal to 5000
# Calculating Power of Test
# Compute the difference in Means between 2 sample means and divide by pooled Standard Deviation 
# number of Observations/tuples
# Set the alpha value to 0.05 and alternative values 'two-sided' , 'larger' , 'smaller'
(np.mean(group2) - np.mean(group1)) / np.sqrt(((30-1)*np.var(group2)+(30-1)*np.var(group1)) / 30+30-2)

0.12909555513169643

In [57]:
print("A4c) Power of test:",ttest_power(0.129, nobs=30, alpha=0.05, alternative='larger'))

A4c) Power of test: 0.1698663025719903